'comment': 'Sparkling Syntax Highlighting'
'name': 'Sparkling'
'scopeName': 'source.spn'
'fileTypes': ['spn']
'firstLineMatch': '\\A#!.*?\\bspn\\b'
'patterns': [
    {   # Keyword control
      'match': '\\b(and|break|continue|do|else|extern|false|fn|let|nil|not|or|return|true|typeof|while)\\b'
      'name': 'keyword.control.spn'
    }
    {   # Constants (have to check if Sparkling supports ellipsis)
      'match': '\\b(false|nil|true)\\b|(?<![.])\\.{3}(?!\\.)'
      'name': 'constant.language.spn'
    }
    {   # Expressions (in this case, just typeof)
      'match': 'typeof'
      'name': 'keyword.expression.spn'
    }
    {   # Function declaration
        'captures':
            '1':
                'name': 'keyword.control.spn'
            '2':
                'name': 'entity.name.function.scope.spn'
            '3':
                'name': 'entity.name.function.spn'
            '4':
                'name': 'punctuation.definition.parameters.begin.spn'
            '5':
                'name': 'variable.parameter.function.spn'
            '6':
                'name': 'punctuation.definition.parameters.end.spn'
        'match': '\\b(fn)(?:\\s+([a-zA-Z_.:]+[.:])?([a-zA-Z_]\\w*)\\s*)?(\\()([^)]*)(\\))'
        'name': 'meta.function.spn'
    }
    {
      'match': '(?<![^.]\\.|:)\\b(self)\\b'
      'name': 'variable.language.self.spn'
    }
    {
      'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
      'name': 'constant.numeric.spn'
    }
]
